@model E_Shopper.Views.Shared.Components.CategoriesSideBar.CategorySideBarView
@{
}
@foreach(var item in Model.Categories)
{
	var css = "category";
	if (item.Id == Model.Category?.Id)
		css += " active";
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a class="@css" asp-action="Index" asp-controller="Category" asp-route-Slug="@item.Slug">@item?.Name</a></h4>
		</div>
	</div>
}