@{
    ViewData["Title"] = "Not Found";
    Layout = "/Views/Shared/_layoutNotFound.cshtml";
}
<div class="container text-center">
    <div class="logo-404">
        <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
    </div>
    <div class="content-404">
        <img src="~/images/404/404.png" class="img-responsive" alt="" />
        <h1><b>Lỗi</b> Chúng tôi không thể tìm thấy trang này</h1>
        <h2><a asp-action="Index" asp-controller="Home">Đưa tôi tới trang chủ</a></h2>
    </div>
</div>